.header {
    position: relative;
    margin: auto;
    z-index: 1500;

    &__background {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(flex-start);
        background-color: rgba(195,233,243,1);
        color: $white;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 125px;
        padding: 80px 0;

        @include media('>lg') {
            min-height: 650px;
        }

        @include media ('<md') {
            padding: 45px 0;
            margin-top: 70px;
        }
    }

    &__newsletter {
        @include media('>=md') {
            padding: 20px 30px;
        }

        @include media('<md') {
            padding: 30px 15px;
        }
    }

    &__titles {
        display: flex;
        flex-direction: column;
        list-style-type: disc;
        align-items: center;
    }

    &__title {
        font-size: 2.5em;
        font-weight: 600;
        letter-spacing: .05em;
        color: #00437a;

        &--smaller {
            font-size: 1.2em;
            text-transform: none;
            letter-spacing: normal;
        }
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        padding: 30px 0;
        flex: 1;
        padding-bottom: 0;

        @include media ('<md') {
            padding: 150px 0 90px;
        }

        &-container {
            background-color: white;
            color: black;
            padding: 60px 30px;
            width: 600px;
            text-align: center;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            position: relative;
            bottom: -45px;
            z-index: 4;
        }

        &-title {
            flex: 1.5;
        }
    }

    &__image {
        flex: 1;
        background: url('/images/bg-top.png');
        background-size: cover;
        transform: scaleX(-1);
        background-repeat: no-repeat;
        height: 450px;

        @include media ('<1280px') {
            height: 300px;
        }

        @include media ('<md') {
            min-height: 180px;
            background-position: center;
            background-size: contain;
        }
    }

    &__text {
        flex: 1.5;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header__title {
            word-break: break-all;
        }

        @include media ('<md') {
            flex: 1;
        }
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100px;
            margin: 15px 0;
        }
    }

    &__menu {
        flex: 1;
        position: fixed;
        top: 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        gap: 10px;
        z-index: 5;
        
        &-list {
            display: flex;
            padding: 15px 0;
        }

        @include media('<md') {
            padding: 16px 8px 0;
            display: none;
        }

        a {
            display: block;
            color: black;

            span {
                border-bottom: 2px solid transparent;
                display: block;
                transition: .2s border-bottom;
                padding: 15px 20px;
                margin: 0 20px;
            }

            &:hover {
                span {
                    border-bottom: 2px solid black;
                }
            }
        }
        
        &--scrolled {
            .header__submenu {
                transform: translateY(-100%);
            }
        }
    }

    &__item {
        width: 180px;
        text-align: center;

        @include media('<1024px') {
            width: 130px;

            span {
                margin: 0 10px !important;
            }
        }

        span {
            color: #333;
            font-weight: 400;
        }

        &--disabled {
            pointer-events: none;
        }
    }

    &__topmenu {
        position: relative;
        z-index: 5;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        & > .row {
            min-height: 125px;
        }
    }

    &__container {
        display: flex;

        @include media ('<md') {
            flex-direction: column;
            gap: 30px;
        }
    }

    &__button {
        display: inline-block;
        color: #00437a;
        padding: 12px 60px;
        border: 2px solid #00437a;   
        font-weight: 600;
        transition: .2s background-color, .2s color;

        &:hover {
            background-color: #00437a;
            color: white;
        }
    }

    &__submenu {
        transition: .2s transform;
        
        &-list {
            display: flex;
            gap: 20px;
        }

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #082430;
            padding: 15px 20px;
            transition: .2s color;

            &:hover {
                color: #0881b4;
            }

            svg {
                position: relative;
                top: -1px;
            }
        }
    }
    
}