.header {
    position: relative;
    margin: auto;
    z-index: 1500;

    &__background {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(flex-start);
        background: url('/images/header_bg.jpg');
        background-size: cover;
        background-position-y: -170px;
        color: $white;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 85px;

        &::after {
            content: '';
            background-color: #082430;
            position: absolute;
            inset: 0;
            opacity: 0.6;
        }

        @include media('>lg') {
            min-height: 70vh;
        }
    }

    &__newsletter {
        @include media('>=md') {
            padding: 20px 30px;
        }

        @include media('<md') {
            padding: 30px 15px;
        }
    }

    &__title {
        font-size: 2em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .05em;

        &--smaller {
            font-size: 1.2em;
            text-transform: none;
            letter-spacing: normal;
        }
    }

    &__top {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 100%;
        padding: 30px 0;
        flex: 1;
        padding-bottom: 0;

        @include media ('<md') {
            padding: 150px 0 90px;
        }

        &-container {
            background-color: white;
            color: black;
            padding: 60px 30px;
            width: 600px;
            text-align: center;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            position: relative;
            bottom: -45px;
            z-index: 4;
        }

        &-title {
            flex: 1.5;
        }
    }

    &__image {
        flex: 2;
        background: url('/images/bg-top.png');
        background-size: cover;
        transform: scaleX(-1);
        background-repeat: no-repeat;
        height: 450px;
    }

    &__logo {
        img {
            width: 100px;
            margin: 15px 0;
        }
    }

    &__menu {
        flex: 1;
        position: fixed;
        top: 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 600;
        gap: 10px;
        z-index: 5;
        
        &-list {
            display: flex;
            padding: 15px 0;
        }

        @include media('<md') {
            padding: 16px 8px 0;
            display: none;
        }

        a {
            display: block;
            color: white;

            span {
                border-bottom: 2px solid transparent;
                display: block;
                transition: .2s border-bottom;
                padding: 15px 20px;
                margin: 0 20px;
            }

            &:not(:last-child) {
                border-right: 1px solid #2b3b44;
            }

            &:hover {
                span {
                    border-bottom: 2px solid white;
                }
            }
        }
        
        &--scrolled {
            .header__submenu {
                transform: translateY(-100%);
            }
        }
    }

    &__topmenu {
        position: relative;
        z-index: 5;
        background: #082430;
    }

    &__submenu {
        background-color: white;
        transform: translateY(0);
        overflow: hidden;
        transition: .2s transform;
        
        &-list {
            display: flex;
            gap: 20px;
        }

        a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #082430;
            padding: 15px 20px;
            transition: .2s color;

            &:hover {
                color: #0881b4;
            }

            svg {
                position: relative;
                top: -1px;
            }
        }
    }
    
}