// beem
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'beem';

@import '~leaflet/dist/leaflet.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

img {
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 10px;
}