.menu {
    @include flexbox;
    color: $white;

    &--smaller {
        padding: 10px 13px;
    }

    &__left {
        flex: 1;

        @include media('<lg') {
            display: none;
        }
    }

    &__title {
        flex: 1;
        text-align: center;
    }
    

    &__socialmedia {
        @include flexbox;
        @include justify-content(space-between);
        flex: 0.5;
        align-items: center;
        background-color: #f1f5f9;
        padding: 5px 10px;
        border-radius: 15px;

        @include media('<md') {
            margin-top: 60px;
        }

        @include media('<lg') {
            flex: 1;
        }

        @include media('<md') {
            flex-direction: column;
            align-items: center;
            gap: 6px;
            padding: 15px 10px;

            p {
                display: none;
            }
        }
    }
    
    &__burger {
        position: relative;
        top: 2px;
        color: black;
    }

    &__mobile {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        &-icon {
            background-color: #fff;
            position: fixed;
            z-index: 755555;
            left: 0;
            right: 0;
            top: 0;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__logo {
                img {
                    margin: 0;
               }
            }

            @include media ('>md') {
                display: none;
            }
        }

        ul {
            max-height: 0;
            display: flex;
            flex-direction: column;
            background: #fff;
            color: black;
            margin-top: 98px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 655665;
            overflow: hidden;
            transition: 0.3s ease max-height;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

            li {
                a {
                    display: block;
                    padding: 15px 25px;
                }

                &:not(:first-child) {
                    border-top: 1px #b4a4be solid;
                }
            }
        }

        &--active {
            ul {
                max-height: 100vh;
            }
        }
    }

    ul {
        @include flexbox;
        list-style-type: none;

        li {
        }
    }
}