.offer {

    &__container {
        background-color: #fff;
        color: #fff;
        padding: 45px 0;
        position: relative;
    }

    &__boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 30px;
    }

    &__box {
        flex: 1;
        border: 2px solid #14374c;
        background-color: #14374c;
        padding: 50px 35px;
        text-align: center;
        
        h3 {
            font-size: 400;
            font-size: 24px;
        }

        h4 {
            font-weight: 600;
            font-size: 28px;
        }

        p {
            margin-top: 25px;
            font-size: 14px;
        }
    }
}