.offer {

    &__container {
        background-color: #00579e;
        color: white;
        padding: 45px 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -150px;
            left: 0;
            right: 0;
            height: 150px;
            transform: rotate(180deg);
            background: url('/images/fala.svg');
            background-size: cover;
            pointer-events: none;
            z-index: 5549;
        }
    }

    &__boxes {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-top: 30px;
    }

    &__box {
        flex: 1;
        background-color: #ffffff;
        padding: 50px 35px;
        text-align: center;
        
        h3 {
            font-size: 400;
            font-size: 24px;
        }

        h4 {
            font-weight: 600;
            font-size: 28px;
        }

        p {
            margin-top: 25px;
            font-size: 14px;
        }
    }
}